@import '../assets/vars.scss';

@font-face {
  font-family: 'ColfaxAI';
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format('woff2'),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ColfaxAI';
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format('woff2'),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}


.main {
  font-size: 16px;
  line-height: 24px;
  color: $color_1;
  font-family: $font-family_1;

  input {
    font-size: 16px;
    line-height: 24px;
    color: $color_1;
    font-family: $font-family_1;
  }

  .icon {
    width: 34px;
  }

  h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    color: $color_2;
    margin: 16px 0 40px;
    text-align: center;
  }

  .wrapper {
    margin: 0 auto;
    padding: 20px;
    
    @media screen and (min-width: 768px) {
      display: flex;
      gap: 20px;
      justify-items: center;
    }
  }

  &::placeholder {
    color: $color_3;
    opacity: 1;
  }

  .result {
    font-weight: bold;
    margin-top: 40px;
  }
}
